@charset "utf-8";
#home {
    .home_logo {
        width: 237px;
        height: 101px;
        left: 50%;
        bottom: 50%;
        margin-left: -119px;
        position: absolute;
    }
    .home_p {
        width: 640px;
        left: 50%;
        top: 57%;
        margin-left: -320px;
        margin-top: 0px;
        text-align: center;
        position: absolute;
        p {
            font-size: 13px;
            line-height: 1.75;
            color: #333;
        }
    }
    .home_more {
        left: 50%;
        top: 75%;
        margin-left: -134px;
        margin-top: -24px;
        display: block;
        position: absolute;
    }
    .home_more:hover {
        background-color: #14965a;
    }
    .home_pangolin {
        position: absolute;
        top: 105px;
        right: 27px;
        display: block;
        text-align: right;
        .pangolin_a {
            img {
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
                border-radius: 3px;
            }
        }
    }
}

.a_btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.75;
    padding: 10px 100px;
    background-color: #00713d;
    font-style: italic;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 3px;
    vertical-align: middle;
}

.T_1 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.T_t {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.T {
    font-size: 13px;
    line-height: 1.75;
}

.B_more {
    width: 95px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0;
    .area {
        position: absolute;
        right: 0px;
        top: 0px;
        display: block;
        background: url(../imgs/more.png) right 0px no-repeat;
        font-size: 0;
        height: 24px;
        width: 24px;
        z-index: 1;
        cursor: pointer;
    }
    .hover {
        position: absolute;
        right: 12px;
        top: 0px;
        display: block;
        background: url(../imgs/more.png) 0px -30px no-repeat;
        font-size: 0;
        height: 24px;
        width: 0px;
        cursor: pointer;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        /* Safari */
    }
}

#tncChina {
    .china_bg {
        width: 100%;
        height: 105%;
    }
    .china_p {
        background: url(../imgs/page_1/tncChina/icon_map.png) 0px center no-repeat;
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -54px;
        position: absolute;
        padding-left: 120px;
        h1 {
            line-height: 1.75;
        }
    }
    .china_p:hover .hover {
        width: 83px;
    }
    .china_a {
        left: 50%;
        bottom: 180px;
        margin-top: -24px;
        text-align: center;
        position: absolute;
        .china_btn {
            padding: 10px;
            width: 200px;
            display: inline-block;
            margin: 0px 12px 20px;
        }
    }
}

@media(max-width:1280px) {
    .china_a {
        width: 1000px;
        margin-left: -500px;
    }
}

@media(min-width:1280px) {
    .china_a {
        width: 1280px;
        margin-left: -640px;
    }
}

#tncWorld {
    background: url(../imgs/page_1/tncWorld/world_bg.jpg) 0px 0px repeat;
    overflow: auto;
    .world_p {
        width: 778px;
        background: url(../imgs/page_1/tncWorld/worldicon_dot.png) 0px center no-repeat;
        padding-left: 120px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        top: 33%;
        margin-top: -59px;
        position: absolute;
    }
    .world_p:hover .hover {
        width: 83px;
    }
    .world_a {
        width: 996px;
        height: 507px;
        background: url(../imgs/page_1/tncWorld/world_map.png) 0px 0px no-repeat;
        left: 50%;
        top: 70%;
        margin-left: -498px;
        position: absolute;
        .world_beimei {
            background: url(../imgs/page_1/tncWorld/beimei.png) no-repeat;
            width: 316px;
            height: 274px;
            top: -124px;
            left: -158px
        }
        .world_ouzhou {
            background: url(../imgs/page_1/tncWorld/ouzhou.png) no-repeat;
            width: 150px;
            height: 209px;
            left: -85px;
            top: -116px;
        }
        .world_yatai {
            background: url(../imgs/page_1/tncWorld/yazhou.png) no-repeat;
            width: 395px;
            height: 352px;
            left: -183px;
            top: -75px;
        }
        .world_nanmei {
            background: url(../imgs/page_1/tncWorld/nanmei.png) no-repeat;
            width: 157px;
            height: 227px;
            left: -66px;
            top: -115px;
        }
        .world_feizhou {
            background: url(../imgs/page_1/tncWorld/feizhou.png) no-repeat;
            width: 186px;
            height: 207px;
            left: -114px;
            top: -104px;
        }
        .map_div {
            position: absolute;
            display: block;
            background-position: 0px 0px;
            background-repeat: no-repeat;
            opacity: 0;
            _display: none;
            zoom: 1;
            font-size: 0;
            transition: opacity 0.5s linear;
            -moz-transition: opacity 0.5s linear;
            /* Firefox 4 */
            -webkit-transition: opacity 0.5s linear;
            /* Safari 和 Chrome */
            -o-transition: opacity 0.5s linear;
            /* Opera */
        } // .map_png:hover{
        //     opacity: 1;
        // }
        // 北美
        .bm_mapbtn {
            width: 21px;
            height: 33px;
            left: 17%;
            top: 26%;
            margin-left: -11px;
            .bm_span {
                background-color: rgba(51, 204, 255, 0.65);
                background-image: url(../imgs/page_1/tncWorld/text_bg_1.jpg);
            }
            .bm_span:hover {
                background-color: rgba(51, 204, 255, 1);
            }
            &:hover span {
                background-color: rgba(51, 204, 255, 1);
            }
            .circle {
                background-color: rgba(51, 204, 255, 0.6);
            }
        }
        .circle {
            position: absolute;
            border-radius: 100px;
            opacity: 1;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            /* Firefox 4 */
            -webkit-transition: all 0.5s linear;
            /* Safari 和 Chrome */
            -o-transition: all 0.5s linear;
            /* Opera */
        }
        .bm_cc1 {
            width: 70px;
            height: 70px;
            left: 80px;
            top: 77px;
            margin-left: -35px;
            margin-top: -35px;
        }
        .bm_cc2 {
            width: 100px;
            height: 100px;
            left: 33px;
            top: 93px;
            margin-left: -50px;
            margin-top: -50px;
        }
        .bm_cc3 {
            width: 120px;
            height: 120px;
            left: -23px;
            top: -35px;
            margin-left: -60px;
            margin-top: -60px;
        }
        .bm_cc4 {
            width: 180px;
            height: 180px;
            left: -26px;
            top: 54px;
            margin-left: -90px;
            margin-top: -90px;
        }
        .wd_text {
            position: absolute;
            display: block;
            padding: 0px 38px 0px 0px;
            border-radius: 2px;
            font-size: 13px;
            left: 30px;
            top: -30px;
            width: 158px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            z-index: 1;
            color: white; // opacity: 0.65;
            background-position: right center;
            background-repeat: no-repeat;
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.35);
            transition: background-color 0.35s;
            -moz-transition: background-color 0.35s;
            -webkit-transition: background-color 0.35s;
            -o-transition: background-color 0.35s;
            -ms-transition: background-color 0.35s;
        }
        .wd_mapbtn {
            cursor: pointer;
            position: absolute;
        }
        .wd_icon {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        } // 欧洲
        .oz_mapbtn {
            width: 21px;
            height: 33px;
            left: 55%;
            top: 24%;
            margin-left: -11px;
            .oz_span {
                background-color: rgba(240, 72, 72, 0.65);
                background-image: url(../imgs/page_1/tncWorld/text_bg_2.jpg)
            }
            .oz_span:hover {
                background-color: rgba(240, 72, 72, 1);
            }
            &:hover span {
                background-color: rgba(240, 72, 72, 1);
            }
            .oz_cc1 {
                background: rgba(240, 72, 72, 0.6);
                width: 70px;
                height: 70px;
                left: 29px; // top: 58px;
                margin-left: -35px;
                margin-right: -35px;
            }
            .oz_cc2 {
                background: rgba(240, 72, 72, 0.6);
                width: 100px;
                height: 100px;
                left: -34px; // top: 44px;
                margin-left: -50px;
                margin-top: -50px;
            }
        }
        .yt_mapbtn {
            width: 21px;
            height: 33px;
            left: 77%;
            top: 40%;
            margin-left: -11px;
            .yt_span {
                background-color: rgba(124, 227, 21, 0.65);
                background-image: url(../imgs/page_1/tncWorld/text_bg_3.jpg);
            }
            .yt_span:hover {
                background-color: rgba(124, 227, 21, 1);
            }
            &:hover span {
                background-color: rgba(124, 227, 21, 1);
            }
            .yt_cc1 {
                background: rgba(124, 227, 21, 0.6);
                width: 40px;
                height: 40px;
                left: -44px;
                top: 28px;
                margin-left: -20px;
                margin-right: -20px;
            }
            .yt_cc2 {
                background: rgba(124, 227, 21, 0.6);
                width: 100px;
                height: 100px;
                left: 23px;
                top: -37px;
                margin-left: -50px;
                margin-top: -50px;
            }
            .yt_cc3 {
                background: rgba(124, 227, 21, 0.6);
                width: 120px;
                height: 120px;
                left: 9px;
                top: 26px;
                margin-left: -60px;
                margin-top: -60px;
            }
        }
        .nm_mapbtn {
            width: 21px;
            height: 33px;
            left: 28%;
            top: 74%;
            margin-left: -11px;
            .nm_span {
                background-color: rgba(255, 204, 0, 0.65);
                background-image: url(../imgs/page_1/tncWorld/text_bg_5.jpg);
            }
            .nm_span:hover {
                background-color: rgba(255, 204, 0, 1);
            }
            &:hover span {
                background-color: rgba(255, 204, 0, 1);
            }
            .nm_cc1 {
                background: rgba(255, 204, 0, 0.6);
                width: 70px;
                height: 70px;
                left: -4px;
                top: 80px;
                margin-left: -35px;
                margin-top: -35px;
            }
            .nm_cc2 {
                background: rgba(255, 204, 0, 0.6);
                width: 100px;
                height: 100px;
                left: 28px;
                top: 20px;
                margin-left: -50px;
                margin-top: -50px;
            }
        }
        .fz_mapbtn {
            width: 21px;
            height: 33px;
            left: 56%;
            top: 58%;
            margin-left: -11px;
            .fz_span {
                background-color: rgba(255, 153, 51, 0.65);
                background-image: url(../imgs/page_1/tncWorld/text_bg_4.jpg);
            }
            .fz_span:hover {
                background-color: rgba(255, 153, 51, 1);
            }
            &:hover span {
                background-color: rgba(255, 153, 51, 1);
            }
            .fz_cc1 {
                background-color: rgba(255, 153, 51, 0.6);
                width: 70px;
                height: 70px;
                left: 13px;
                top: 73px;
                margin-left: -35px;
                margin-top: -35px;
            }
            .fz_cc2 {
                background-color: rgba(255, 153, 51, 0.6);
                width: 100px;
                height: 100px;
                left: -9px;
                top: 12px;
                margin-left: -50px;
                margin-top: -50px;
            }
        }
    }
}

// #tncEvent{
//     background: url()
// }
#proPlace {
    .place_bg {
        width: 100%;
        height: 100%;
    }
    .place_p {
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -59px;
        background: url(../imgs/page_2/place/icon_txt_1.png) 0px center no-repeat;
        padding-left: 120px;
        position: absolute;
    }
    .place_p:hover .hover {
        width: 83px;
    }
    .place_a {
        margin-top: -24px;
        top: 70%;
        text-align: center;
        position: absolute;
        width: 100%;
        .p_b:hover {
            background-color: #53b352;
        }
        .done {
            background-color: #0066cb;
        }
        .done:hover {
            background-color: #2b9ae1;
        }
    }
}

.p_b {
    font-size: 16px;
    color: #fff;
    line-height: 1.75;
    background-color: #339933;
    font-style: italic;
    text-decoration: none;
    letter-spacing: 0px;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    display: inline-block;
    margin: 0px 12px 20px;
    vertical-align: middle;
}

.done {
    background-position: 20px center;
    background-repeat: no-repeat;
    background-image: url(../imgs/page_2/place/done.png);
}

#proWater {
    .water_bg {
        width: 100%;
        height: 100%;
    }
    .water_p {
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -48px;
        background: url(../imgs/page_2/icon_txt_2.png) 0px center no-repeat;
        padding-left: 120px;
        position: absolute;
    }
    .water_p:hover .hover {
        width: 83px;
    }
    .water_a {
        width: 100%;
        top: 70%;
        margin-top: -24px;
        left: 0%;
        text-align: center;
        position: absolute
    }
    .p_b:hover {
        background-color: #53b352;
    }
}

#proAotemosphere {
    .pa_bg {
        width: 100%;
        height: 100%;
    }
    .pa_p {
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -59px;
        background: url(../imgs/page_2/icon_txt_3.png) 0px center no-repeat;
        padding-left: 120px;
        position: absolute;
    }
    .pa_a {
        width: 100%;
        top: 70%;
        margin-top: -24px;
        left: 0%;
        text-align: center;
        position: absolute;
    }
    .p_b:hover {
        background-color: #53b352;
    }
}

#proSea {
    .ps_bg {
        width: 100%;
        height: 100%;
    }
    .ps_p {
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -59px;
        background: url(../imgs/page_2/icon_txt_4.png) 0px center no-repeat;
        padding-left: 120px;
        position: absolute;
    }
    .ps_p:hover .hover {
        width: 83px;
    }
    .ps_a {
        width: 100%;
        top: 70%;
        margin-top: -24px;
        left: 0%;
        text-align: center;
        position: absolute;
    }
    .p_b:hover {
        background-color: #53b352;
    }
}

#sciFunc {
    .sf_bg {
        width: 100%;
        height: 100%;
    }
    .sf_p {
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -59px;
        background: url(../imgs/page_3/icon_txt_1.png) 0px center no-repeat;
        padding-left: 120px;
        position: absolute;
    }
    .sf_p:hover .hover {
        width: 83px;
    }
    .sf_a {
        width: 100%;
        top: 70%;
        margin-top: -24px;
        left: 0%;
        text-align: center;
        position: absolute;
    }
    .s_b:hover {
        background-color: #2c9be2;
    }
}

.s_b {
    ont-size: 16px;
    color: #fff;
    line-height: 1.75;
    background-color: #0883d1;
    font-style: italic;
    text-decoration: none;
    letter-spacing: 0px;
    border-radius: 3px;
    padding: 10px;
    width: 220px;
    display: inline-block;
    margin: 0px 12px 20px;
    vertical-align: middle;
}

#sciInfo {
    .si_bg {
        width: 100%;
        height: 100%;
    }
    .si_p {
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -59px;
        background: url(../imgs/page_3/icon_txt_2.png) 0px center no-repeat;
        padding-left: 120px;
        position: absolute;
    }
    .si_a {
        width: 100%;
        top: 70%;
        margin-top: -24px;
        left: 0%;
        text-align: center;
        position: absolute;
    }
    .s_b:hover {
        background-color: #2c9be2;
    }
}

#sciProtect {
    .sp_bg {
        width: 100%;
        height: 100%;
    }
    .sp_p {
        width: 778px;
        left: 50%;
        top: 50%;
        margin-left: -440px;
        margin-top: -59px;
        background: url(../imgs/page_3/icon_txt_3.png) 0px center no-repeat;
        padding-left: 120px;
        position: absolute
    }
    .sp_a {
        width: 100%;
        top: 70%;
        margin-top: -24px;
        left: 0%;
        text-align: center;
        position: absolute;
    }
    .s_b:hover {
        background-color: #2c9be2;
    }
}

.view_body {
    width: 100%;
    height: 70%;
    display: block;
    position: absolute;
    left: 0%;
    top: 0%;
    .view_content {
        width: 100%;
        height: 100%; // display: none;
        position: absolute; // left: 100%;
        top: 0%;
    }
    .view_list {
        width: 1000px;
        height: 200px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -500px;
        top: 50%;
        margin-top: -50px;
        overflow: hidden;
    }
    .view_ul {
        width: 1000px;
        height: 200px;
        display: block;
        position: absolute;
        left: 100%;
        top: 0px;
        list-style: none;
    }
    .view_ul_0 {
        left: 0px;
    }
    .view_li {
        float: left;
        margin: 0px 8px;
        position: relative;
        display: inline;
        list-style: none;
    }
    .B_left {
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: -565px;
        top: 50%;
        margin-top: 5px;
        opacity: 0.75;
        img {
            padding: 20px;
        }
    }
    .B_right {
        position: absolute;
        cursor: pointer;
        left: 50%;
        margin-left: 500px;
        top: 50%;
        margin-top: 5px;
        opacity: 0.75;
        img {
            padding: 20px;
        }
    }
}

.view_foot {
    width: 100%;
    height: 30%;
    background: 0px 0px repeat;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    .foot_border {
        width: 100%;
        height: 8px;
        left: 0px;
        top: 0px;
        display: block;
        position: relative;
        text-align: center;
    }
    .foot_cursor {
        width: 62px;
        height: 32px; 
        top: 0px;
        background: 0px bottom no-repeat;
        zoom: 1;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        margin: 0px 65px;
        text-decoration: none;
        opacity: 0;
    }
    .foot_cursor_1 {
       opacity: 1;
    }
    .foot_links {
        width: 100%;
        top: 50px;
        left: 0%;
        text-align: center;
        position: absolute;
    }
    .foot_link {
        font-size: 0;
        width: 86px;
        height: 116px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        margin: 0px 50px;
        text-decoration: none;
    }
    .foot_link:hover {
        background-position: 0px -116px;
    }
}

#news {
    background: #d4d8db;
    .view_body {
        #view_content_0 {
            display: none;
        }
        #view_content_1 {
            display: block;
        }
        #view_content_2 {
            display: none;
        }
    }
    .news_a {
        width: 234px;
        height: 200px;
        display: block;
        background: url(../imgs/page_4/li_bg.jpg) 0px bottom repeat-x;
    }
    .news_title {
        width: 100%;
        height: 28px;
        display: block;
        line-height: 28px;
        font-size: 15px;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        zoom: 1;
        white-space: nowrap;
        _white-space: normal;
    }
    .news_img {
        width: 234px;
        height: 140px;
        display: block;
        overflow: hidden;
        background: url(../imgs/loading_gray.gif) center center no-repeat;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 234px;
            height: 180.96px;
            margin-left: -117px;
            margin-top: -90.48px;
        }
    }
    .news_date {
        width: 100%;
        height: 28px;
        display: block;
        line-height: 28px;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        text-align: right;
        font-family: 'din_b';
    }
    .news_text {
        width: 100%;
        height: 172px;
        display: block;
        position: absolute;
        top: 28px;
        left: 0px;
        background: url(../imgs/page_4/text_bg.jpg) 0px 0px no-repeat;
        overflow: hidden;
        display: none;
        _background-image: url(../imgs/page_4/text_bg.jpg);
    }
    .view_foot {
        background: url(../imgs/page_4/bg_1.jpg);
        .foot_border {
            background-color: #8a4e06;
            .foot_cursor {
                background-image: url(../imgs/page_4/triangle.png)
            }
        }
        #news_link_0 {
            background-image: url(../imgs/page_4/menu_1.png);
        }
        #news_link_1 {
            background-image: url(../imgs/page_4/menu_2.png);
        }
        #news_link_2 {
            background-image: url(../imgs/page_4/menu_3.png);
        }
    }
}
#interactive {
    background: #d4d8db;
    .view_body {
        #view_content_0 {
            display: block;
        }
        #view_content_1 {
            display: none;
        }
        #view_content_2 {
            display: none;
        }
        #view_content_3 {
            display: none;
        }
        #view_content_4 {
            display: none;
        }
        
    }
    // .news_a {
    //     width: 234px;
    //     height: 200px;
    //     display: block;
    //     background: url(../imgs/page_5/li_bg.jpg) 0px bottom repeat-x;
    // }
    .interactive_title {
        width: 100%;
        height: 28px;
        display: block;
        line-height: 28px;
        font-size: 15px;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        zoom: 1;
        white-space: nowrap;
        _white-space: normal;
    }
    .interactive_img {
        width: 234px;
        height: 140px;
        display: block;
        overflow: hidden;
        background: url(../imgs/loading_gray.gif) center center no-repeat;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 234px;
            height: 180.96px;
            margin-left: -117px;
            margin-top: -90.48px;
        }
    }
    .interactive_date {
        width: 100%;
        height: 28px;
        display: block;
        line-height: 28px;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        text-align: right;
        font-family: 'din_b';
    }
    .interactive_text {
        width: 100%;
        height: 172px;
        display: block;
        position: absolute;
        top: 28px;
        left: 0px;
        background: url(../imgs/page_5/case_0/text_bg.jpg) 0px 0px no-repeat;
        overflow: hidden;
        display: none;
        _background-image: url(../imgs/page_5/case_0/text_bg.jpg);
    }
    .view_foot {
        background: url(../imgs/page_5/case_0/bg.jpg);
        .foot_border {
            background-color: #304e18;
            .foot_cursor {
                background-image: url(../imgs/page_5/case_0/triangle.png)
            }
        }
        #interactive_link_0 {
            background-image: url(../imgs/page_5/case_0/menu_1.png);
        }
        #interactive_link_1 {
            background-image: url(../imgs/page_5/case_0/menu_2.png);
        }
        #interactive_link_2 {
            background-image: url(../imgs/page_5/case_0/menu_3.png);
        }
        #interactive_link_3 {
            background-image: url(../imgs/page_5/case_0/menu_4.png);
        }
        #interactive_link_4 {
            background-image: url(../imgs/page_5/case_0/menu_5.png);
        }
        
    }
}
#acount {
    background: #d4d8db;
    .view_body {
        #view_content_0 {
            display: block;
        }
        #view_content_1 {
            display: none;
        }
        #view_content_2 {
            display: none;
        }
        
    }
    .acount_title {
        width: 100%;
        height: 28px;
        display: block;
        line-height: 28px;
        font-size: 15px;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        zoom: 1;
        white-space: nowrap;
        _white-space: normal;
    }
    .acount_img {
        width: 234px;
        height: 140px;
        display: block;
        overflow: hidden;
        background: url(../imgs/loading_gray.gif) center center no-repeat;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 234px;
            height: 180.96px;
            margin-left: -117px;
            margin-top: -90.48px;
        }
    }
    .acount_date {
        width: 100%;
        height: 28px;
        display: block;
        line-height: 28px;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        text-align: right;
        font-family: 'din_b';
    }
    .acount_text {
        width: 100%;
        height: 172px;
        display: block;
        position: absolute;
        top: 28px;
        left: 0px;
        background: url(../imgs/page_5/case_6/text_bg.jpg) 0px 0px no-repeat;
        overflow: hidden;
        display: none;
        _background-image: url(../imgs/page_6/case_0/text_bg.jpg);
    }
    .view_foot {
        background: url(../imgs/page_6/case_0/bg.jpg);
        .foot_border {
            background-color: #0e233f;
            .foot_cursor {
                background-image: url(../imgs/page_6/case_0/triangle.png)
            }
        }
        #acount_link_0 {
            background-image: url(../imgs/page_6/case_0/menu_1.png);
        }
        #acount_link_1 {
            background-image: url(../imgs/page_6/case_0/menu_5.png);
        }
        #acount_link_2 {
            background-image: url(../imgs/page_6/case_0/menu_6.png);
        }
        
    }
}